.mr-auto{
    font-size: 20px;
    text-decoration: none;
}

.navbar-light .navbar-brand{
    color: whitesmoke;
}

.navbar-light .navbar-nav .nav-link{
    color: whitesmoke;
}

#basic-nav-dropdown{
    color: whitesmoke !important;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: whitesmoke;
}

.active > .nav-link{
    color: whitesmoke;
}

.dropdown-item:active{
    background-color: #343a40;
}

.navbar-brand a{
    color: whitesmoke;
    text-decoration: none;
}
.navbar-toggler{
    background-color: whitesmoke;
}